<div id="_mainForm">
    
    <button type="button" class="_addToCart" id="download_file">Download File TestData.csv</button>
    <input type="file" name="test_data" id="test_data">
    Case: <input type="text" name="case_number" class="case-input">
	<button type="button" id="fill-data">Fill...</button>
	<!-- <button type="button" id="_next_log_time">Next</button> -->
</div>

<div id="_mainModal" style="display: none">
	
</div>
